version: '3.6'

services:
  gui:
    user: node
    container_name: gui-service
    build:
      context: .
      dockerfile: ./apps/gui/Dockerfile
    env_file: variables/.env.gui
    ports:
      - '{{gui.port}}:{{gui.port}}'
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: npm run serve:gui
    networks:
      - web

  auth:
    user: node
    # try to restart the service on failure
    restart: on-failure:3
    container_name: auth-service
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
    depends_on:
      - kafka
    env_file: variables/.env.auth
    ports:
      - "{{auth.port}}:{{auth.port}}"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: npm run serve:auth
    networks:
      - web
      - kafka

  user-service:
    user: node
    # try to restart the service on failure
    restart: on-failure:3
    container_name: user-service
    depends_on:
      - userdb
    build:
      context: .
      dockerfile: ./apps/user/Dockerfile
    env_file: variables/.env.user
    ports:
      - '{{user.port}}:{{user.port}}'
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    command: npm run serve:user
    networks:
      - user-service
      - kafka

  userdb:
    image: postgres:16.1-alpine3.19
    container_name: user-db
    restart: always
    env_file: variables/.env.user
    ports:
      - "{{user.db_port}}:5432"
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - user-service

  zookeeper:
    image: debezium/zookeeper:2.5.0.Final
    container_name: zookeeper-debezium
    restart: always
    ports:
      - '{{zookeeper.port}}:2181'
    volumes:
      - zookeeper-volume:/bitnami
    env_file:
      - variables/.env.zookeeper
    networks:
      - kafka

  kafka:
    image: debezium/kafka:2.5.0.Final
    container_name: kafka-debezium
    restart: always
    ports:
      - '{{kafka.port}}:9092'
    volumes:
      - kafka-volume:/bitnami
    env_file:
      - variables/.env.kafka
    depends_on:
      - zookeeper
    networks:
      - kafka

  pg_connector:
    image: debezium/connect:2.5.0.Final
    container_name: pg-debezium
    ports:
      - '{{pg_debezium.port}}:8083'
    depends_on:
      - kafka
      - userdb
    env_file:
      - variables/.env.pg_debezium
    networks:
      - kafka

volumes:
  user_data:
  kafka-volume:
  zookeeper-volume:

networks:
  user-service:
  web:
  kafka:
